.button {
    border: 1px solid $text-color;
    padding: 12px 40px;

    &:hover {
        color: $white;
        background: $text-color;
    }
}

.button-white {
    border: 1px solid $white;
    color: $white !important;
    background: $text-color;

    &:hover {
        color: $text-color !important;
        background: $white;
    }
}

.section-description {
    width: 80%;
    margin: auto;
}

.button-container {
    margin: 80px 0;
}

header {
    background: url("/img/Hollowed-Boxes.svg");
    background-size: cover;
    color: white;

    .top-nav {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }
    .logo {
        font-weight: bold;
        font-size: 28px;
    }
    ul {
        display: flex;
        text-transform: uppercase;
        justify-content: space-between;
        width: 40%;
        list-style-type: none;
    }

    a {
        color: $white !important;
        &:hover {
            color: darken($white, 10%);
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter;
    padding-top: 20px;
    padding-bottom: 84px;

    .hero-image {
        padding-left: 60px;
    }
    h1 {
        font-size: 52px;
        margin-top: 50px;
    }

    p {
        margin: 40px 0 68px;
    }

    .button {
        margin-right: 14px;
    }
}

.featured-section {
    padding: 50px 0;

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: $gutter;
    }
}

.blog-section {
    background: $light-gray-background;
    border-top: 1px solid $separator-color;
    padding: 50px 0;

    .blog-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $gutter;
        margin: 60px 0 60px;
    }
}